.boardContainer {
    
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
    margin: 0; 
  padding: 0;
  }
  
  .headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  margin: 20px;

  }
  
  .welcomeMessage {
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
  }
  
  .currentDate {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #707070;
    text-align: left;
  }
  
  .boardHeading {
    font-family: Poppins;
    font-size: 29px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
  }
  
  .collapseMenu {
    font-size: 16px;
    color: #707070;
    cursor: pointer;
  }
  
 
  .cardsContainer {
    display: flex;
    flex: 2;
    min-width: 400px;
    overflow: auto;
    gap: 10px;
    margin-top: 20px;
  }
  

  .card {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 360px;
    background: #eef2f5;
    border-radius: 10px;
    padding: 25px;
  }

  .cardTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cardTitle {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
  }
  
  .collapseIcon {
    width: 18px;
    height: 18px;
  }
  
  .taskContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }
  .durationButton {
    display: inline-flex; 
    align-items: center; 
    gap: 4px;   
    font-size: 16px;
    color: #707070;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;           
  }
.durationOptions{
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: 3s;
    background-color: white;
    z-index: 1;
    
}
